#geral{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    border: solid 1px; 
    padding: 25px;
    border-radius: 8px;
}


#div-form, #div-lista{
    margin: 50px 0px;
    padding: 5px;
}

form{
    padding: 25px;
    border-radius: 8px;
}

label, input{
    display: block;
    margin: 10px 0px;
    width: 370px;
    height: 30px;
    font-size: 1.2em;
    padding: 0px 15px;
    border-radius: 8px;
}

button{
    margin: 20px 0px;
    width: 200px;
    height: 35px;
    cursor: pointer;
    border-radius: 8px;
}